<img src="assets/logo.png" width=384 height=128/>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <md-input-container>
    <input mdInput placeholder="Email" type="email" ngModel name="email">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Password" type="password" ngModel name="password">
  </md-input-container>
  <h3 class="register" data-dismiss="modal" data-toggle="modal" data-target="#register">Register a New Account?</h3>
  <h3 class="forgot-password">Forgot Password?</h3>
  <button md-button type="submit" class="btn-warning">Login</button>
</form>

<div id="register" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-registration-page></app-registration-page>
    </div>
  </div>
</div>