<div id="container">
  <div id="header">
    <app-header></app-header>
    <button class="btn-primary" data-toggle="modal" data-target="#add-team-feedback">Add New Team Feedback</button>
    <button class="btn-primary" data-toggle="modal" data-target="#add-1on1-feedback">Add New 1-on-1 Feedback</button>
  </div>
</div>

<div id="add-1on1-feedback" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <select name="employee-name" id="employees-dropdown">
          <option *ngFor="let teamMember of teamMembersFromFB | async; let i = index" value="teamMember.$value">{{ teamMember.$value }}</option>
        </select>
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="note-type" id="note-type">
          <div class="note-type-option"><input type="radio" name="note-type" value="goals" />
            <h3>Goals</h3>
          </div>
          <div class="note-type-option"><input type="radio" name="note-type" value="notes" />
            <h3>Notes</h3>
          </div>
          <div class="note-type-option"><input type="radio" name="note-type" value="takeaways" />
            <h3>Takeaways</h3>
          </div>
        </div>
        <textarea name="note-text" id="note-text" cols="80" rows="7"></textarea>
      </div>
      <div class="modal-footer">
        <div class="share-checkbox">
          <h3>Share?</h3><input type="checkbox" /></div>
        <div class="modal-buttons">
          <button class="btn-danger">Cancel</button>
          <button class="btn-success">Send</button>
          <button class="btn-primary">Done</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div id="add-team-feedback" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <select name="employee-name" id="employees-dropdown">
          <option *ngFor="let teamMember of teamMembersFromFB | async; let i = index" value="teamMember.$value">{{ teamMember.$value }}</option>
        </select>
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="note-type" id="note-type">
          <div class="note-type-option"><input type="radio" name="note-type" value="positive"/><h3>Positive</h3></div>
          <div class="note-type-option"><input type="radio" name="note-type" value="notes"/><h3>Notes</h3></div>
          <div class="note-type-option"><input type="radio" name="note-type" value="improvement"/><h3>Improvement</h3></div>
        </div>
        <textarea name="note-text" id="note-text" cols="80" rows="7"></textarea>
      </div>
      <div class="modal-footer">
        <div class="anonymous-checkbox"><h3>Anonymous?</h3><input type="checkbox" /></div>
        <div class="modal-buttons">
          <button class="btn-danger">Cancel</button>
          <button class="btn-success">Send</button>
          <button class="btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- <md-card>
    <h1 md-card-title class="app">
      Hello to {{ (db | async)?.title }}!
    </h1>
    <h2 md-subheader>Todo List: </h2>
    < *ngFor="let item of items | async; let i = index">
      <i class="material-icons">format_list_bulleted</i>
      <md-icon md-list-icon class="material-icons" (click)="deleteItem(item.$key)">close</md-icon>
      <h3 *ngIf="editingKey != item.$key" md-line>{{ item.$value }}</h3>
      <input *ngIf="editingKey == item.$key" type="text" name="item.$value" value="item.$value  " [(ngModel)]="editData" />
      <h3 (click)="editItem(item)">Edit Task</h3>
    </>
  </md-list>
  <div *ngIf="isAdding">
    <md-list-item>
      <input type="text" placeholder="Task Name" value="addData" name="addData" [(ngModel)]="addData"/>
    </md-list-item>
  </div>
  <button class="btn-primary" (click)="addItem()">Add ToDo</button>
</md-card> -->
