<app-header fbAuth="fbAuth" user="user" authService="authService"></app-header>
<div id="container">
  <div id="header">
    <div class="viewedUsername col-xs-4">
      <select name="activeUsername" class="activeUsername">
        <option value="activeUsername" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option>
      </select>
    </div>
    <div class="tabButtons col-xs-4">
      <button class="button" (click)="switchTab('teamFeedback')" [ngClass]="{'btn-warning': activeTab == 'teamFeedback'}">Team Feedback</button>
      <button *ngIf="activeTab == '1on1'" class="btn-primary" data-toggle="modal" data-target="#add-1on1-feedback">Add New 1-on-1 Feedback</button>
      <button *ngIf="activeTab == 'teamFeedback'" class="btn-primary" data-toggle="modal" data-target="#add-team-feedback">Add New Team Feedback</button>
      <button class="button" (click)="switchTab('1on1')" [ngClass]="{'btn-warning': activeTab == '1on1'}">1-on-1</button>
    </div>
    <div class="viewedPosition col-xs-4">
      <h1>{{ user?.jobTitle }}</h1>
    </div>
  </div>
  <app-columns [columnsData]="columnsData" [mode]="activeTab"></app-columns>
  <app-footer></app-footer>
</div>

<div id="add-1on1-feedback" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <select name="employee-name" id="employees-dropdown" [(ngModel)]="oneOnOneBuffer.employee"><option value="select">Select</option><option *ngFor="let user of teamMembers">{{user.firstName}} {{user.lastName}}</option></select>
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="note-type" id="note-type">
          <div class="note-type-option"><input type="radio" name="note-type" value="goals" [(ngModel)]="oneOnOneBuffer.category" ng-value="goals"/><h3>Goals</h3></div>
          <div class="note-type-option"><input type="radio" name="note-type" value="notes" checked="checked" [(ngModel)]="oneOnOneBuffer.category"/><h3>Notes</h3></div>
          <div class="note-type-option"><input type="radio" name="note-type" value="takeaways" [(ngModel)]="oneOnOneBuffer.category"/><h3>Takeaways</h3></div>
        </div>
        <textarea placeholder="Input a message" name="note-text" id="note-text" cols="80" rows="7" ngControl="oneOnOneBuffer.message" [(ngModel)]="oneOnOneBuffer.message" (ngModelChange)="onModelChange()"></textarea>
      </div>
      <div class="modal-footer">
        <div class="share-checkbox"><h3>Share</h3><input type="checkbox" /></div>
        <div class="modal-buttons">
          <button class="btn-danger" (click)="cancel()">Cancel</button>
          <button class="btn-success">Send</button>
          <button class="btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="add-team-feedback" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <select name="employee-name" id="employees-dropdown"><option value="select">Select</option><option *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option></select>
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="note-type" id="note-type">
          <div class="note-type-option"><input type="radio" name="note-type" value="positive"/><h3>Positive</h3></div>
          <div class="note-type-option"><input type="radio" name="note-type" value="notes" checked="checked"/><h3>Notes</h3></div>
          <div class="note-type-option"><input type="radio" name="note-type" value="improvement"/><h3>Improvement</h3></div>
        </div>
        <textarea placeholder="Input a message" name="note-text" id="note-text" cols="80" rows="7"></textarea>
      </div>
      <div class="modal-footer">
        <div class="anonymous-checkbox"><h3>Leave Anonymous Feedback</h3><input type="checkbox" /></div>
        <div class="modal-buttons">
          <button class="btn-danger">Cancel</button>
          <button class="btn-success">Send</button>
          <button class="btn-primary">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>


